* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(78, 138, 211);
}

a,
button {
    cursor: pointer;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

ul,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: auto;
}