.title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle {
  width: 80%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 36px;
  }
  
  .subtitle {
    margin-top: 5px;
    font-size: 18px;
  }
}